back/OCR-3.3 whatsup.json
{
  "name": "OCR-3.3 whatsup",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hi\n{{ $json.Vendor }} has invoice of {{ $json[\"Total Amount\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        288
      ],
      "id": "9df56de5-f2e0-4f3d-96e6-0d7b926c5e7e",
      "name": "Send a text message",
      "webhookId": "72d86b05-8a58-45aa-8bc8-0579e700832a",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        480
      ],
      "id": "9624fa13-71e3-4467-9e91-22d52bd6b7b8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db57d1e-06d4-46f3-be22-86a1225c9c24",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        288
      ],
      "id": "04af2b36-8c14-4364-ac0f-67370cb536fb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are a data extraction assistant for businesses in Addis Ababa, Ethiopia. \nYour job is to take raw OCR text from invoices/receipts and convert it into a clean JSON object.\n\nFollow these rules:\n1. Extract: Vendor Name, Date, Items (Name, Quantity, Unit Price, Total Price), Subtotal, Tax (VAT/TOT if applicable), and Grand Total.\n2. Standardize names: If a vendor or item name is written in Amharic script, translate it cleanly to English or Latin script.\n3. Keep numbers clean: Ensure all financial amounts are extracted as clean numbers (integers or decimals), not strings.\n4. Output ONLY valid JSON. Do not include conversational filler or markdown code blocks. \n\n{{ $json.document.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        288
      ],
      "id": "7fdce69c-2071-47a8-b95f-25f86e3c53d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA",
          "mode": "list",
          "cachedResultName": "OCR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pDEQUN5pwn-26HE06ZfiYB2W6cAk590-PdwwdZlkLRA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.output.date }}",
            "Vendor": "={{ $json.output.vendor_name }}",
            "Total Amount": "={{ $json.output.grand_total }}",
            "Summary": "={{ $json.output.items_summary }}",
            "Source": "={{ $('WhatsApp Trigger').isExecuted ? 'whatsapp' : ($json.message ? 'telegram' : 'web') }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        288
      ],
      "id": "97cfee61-da4f-4d7c-8d0d-22e439551a93",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KihM9Y8CUoxCMMVD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        464,
        512
      ],
      "id": "dd13ebd8-1538-48f8-adcc-d3ba0e320342",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "CKn3xvZh9XLF809Q",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": {\n      \"type\": \"string\",\n      \"description\": \"The date listed on the receipt or invoice.\"\n    },\n    \"vendor_name\": {\n      \"type\": \"string\",\n      \"description\": \"Standardized or translated vendor/merchant name.\"\n    },\n    \"grand_total\": {\n      \"type\": \"number\",\n      \"description\": \"The final total amount due, matching currency units.\"\n    },\n    \"items_summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise text summary of the items purchased, quantities, and individual prices.\"\n    }\n  },\n  \"required\": [\"date\", \"vendor_name\", \"grand_total\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        512
      ],
      "id": "58e3970f-32a1-4211-bada-5d3a3f27bf79",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        480
      ],
      "id": "5d715e12-4fca-420d-86be-55fecba8fdc3",
      "name": "Telegram Trigger",
      "webhookId": "f1ebc9ff-7848-4485-81ca-9f1b457ae603",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document?.file_id || $json.message.photo?.[$json.message.photo.length - 1]?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        480
      ],
      "id": "ed8cc16b-dfbf-4669-a6fe-bda1df1d8a48",
      "name": "Get a file",
      "webhookId": "c97618bc-90be-4fd6-b274-067b8fa5a2a3",
      "credentials": {
        "telegramApi": {
          "id": "HPvq9YU6hHdd5glz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get a file').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9d4fb315-8155-4966-b591-feb8d91aa888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a19b239c-a65e-44f5-a1a3-1612095d92f4",
                    "leftValue": "={{ $('Get a file').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        480
      ],
      "id": "d1097206-1fe6-4b5b-9646-d81c0a919d27",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        384
      ],
      "id": "66ec4cbc-c2fe-4ce0-ac57-22f1d362ac81",
      "name": "HTTP Request-pdf",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        576
      ],
      "id": "ec278889-9be5-4931-9c91-ae7d1e29ab3b",
      "name": "HTTP Request-image",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d13605b6-c098-4088-a9ad-88b3605783d6",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        96
      ],
      "id": "3f11670c-e231-4400-bfb2-84e73e67ed9d",
      "name": "Webhook",
      "webhookId": "d13605b6-c098-4088-a9ad-88b3605783d6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').isExecuted ? 'true' : 'false' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "376f0f36-fef1-4c23-9fe3-4e13dbc7a93d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').isExecuted ? 'true' : 'false' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1b2c3d4-e5f6-4789-a012-34567890abcd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1248,
        288
      ],
      "id": "4ea55359-68a5-4377-9622-fbdf8fc4a0a6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\",\"message\":\"File uploaded successfully! Your invoice is being processed in the background.\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -448,
        96
      ],
      "id": "508bf12f-6112-431c-8c09-7953ea385c80",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        96
      ],
      "id": "77b6442a-7fec-472b-8d61-19a76af3b9d2",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.binary?.file?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9d4fb315-8155-4966-b591-feb8d91aa888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a19b239c-a65e-44f5-a1a3-1612095d92f4",
                    "leftValue": "={{ $('Webhook').item.binary?.file?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        96
      ],
      "id": "282a2bd5-5f33-490e-a4a5-9a311440e31c",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n    \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "1a183f75-2dec-408c-8e44-836abc651ca1",
      "name": "HTTP Request-pdf1",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n    \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        192
      ],
      "id": "38e29b05-96de-4d31-9f5f-0ed61558253d",
      "name": "HTTP Request-image1",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "302eb3eb-271d-4474-b0e9-3163e792baaa",
              "name": "job_id",
              "value": "={{ $now.toMillis().toString() }}",
              "type": "string"
            },
            {
              "id": "647b9b9c-cab6-46ab-80e7-5003315e4023",
              "name": "status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "b49ee488-3c51-46a5-93ee-b5e8aa933a8c",
              "name": "data",
              "value": "={{ $('Webhook').item.binary.file }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        96
      ],
      "id": "85e4f3a9-ee05-41ca-bf68-de9468621e81",
      "name": "Generate Job ID"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        768
      ],
      "id": "a7d3f891-2b4c-4e6d-9f01-8c5e2a7b3d14",
      "name": "WhatsApp Trigger",
      "webhookId": "wa-trigger-3f8a2b1c-4d5e-6f7a-8b9c-0d1e2f3a4b5c"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "download",
        "mediaId": "={{ $json.image?.id || $json.document?.id || $json.media?.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.3,
      "position": [
        -448,
        768
      ],
      "id": "b8e4f792-3c5d-4f7e-0a12-9d6f3b8c4e25",
      "name": "WhatsApp Get Media",
      "credentials": {
        "whatsAppApi": {
          "id": "WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp Business Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($input.item.binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        768
      ],
      "id": "c9f5a893-4d6e-4a8f-1b23-0e7a4c9d5f36",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Get Media').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "wa-sw-pdf-cond-3f8a2b1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "wa-sw-img-cond-4a9b3c2d",
                    "leftValue": "={{ $('WhatsApp Get Media').item.binary?.data?.mimeType ?? '' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        768
      ],
      "id": "d0a6b994-5e7f-4b90-2c34-1f8b5d0e6a47",
      "name": "Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"application/pdf\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        672
      ],
      "id": "e1b7c095-6f80-4c91-3d45-209c6e1f7b58",
      "name": "HTTP Request-pdf2",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://australia-southeast1-documentai.googleapis.com/v1/projects/104649313839/locations/australia-southeast1/processors/94170579b61c82e7:process",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"skipHumanReview\": true,\n  \"rawDocument\": {\n    \"mimeType\": \"image/jpeg\",\n   \"content\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        864
      ],
      "id": "f2c8d196-7a91-4d02-4e56-310d7f208c69",
      "name": "HTTP Request-image2",
      "credentials": {
        "oAuth2Api": {
          "id": "5HKXyMuN7JzKPY9X",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.from }}",
        "messageType": "text",
        "message": "=Hi 👋\n{{ $json.Vendor }} has invoice of {{ $json[\"Total Amount\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.3,
      "position": [
        1472,
        768
      ],
      "id": "a3d9e207-8b02-4e13-5f67-421e80319d7a",
      "name": "Send WhatsApp Message",
      "credentials": {
        "whatsAppApi": {
          "id": "WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp Business Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Job ID": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp Get Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Get Media": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "HTTP Request-pdf2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request-image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-pdf2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-image2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "54fdbd13-52ed-4b50-9361-312377ed294f",
  "meta": {
    "instanceId": "dac9761f8be1e70c705e3a80868a4342418a292891906897a7363647af8ab4b7"
  },
  "nodeGroups": [],
  "id": "6zllHurUJ1yrxFS4",
  "tags": [
    {
      "updatedAt": "2026-06-26T06:40:19.705Z",
      "createdAt": "2026-06-26T06:40:19.705Z",
      "id": "e95wuTKnlaHNfnlQ",
      "name": "Web-support"
    }
  ]
}